[core]
	editor = vim
	excludesfile = ~/.gitignore
[include]
    path = ~/.gitconfig.private
[user]
	email = c.d.evans87@gmail.com
	name = Cameron Evans
[pull]
	rebase = true
[credential]
	helper = "!f() { /home/hemlock/.vscode-server/bin/e8a3071ea4344d9d48ef8a4df2c097372b0c5161/node /tmp/vscode-remote-containers-833e97cb2555aff2ffa35632f3baf5ae6d66bd16.js $*; }; f"
